/* body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.block {
  position: absolute;
  margin: 10% auto 0;

  background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e1ff3c, black);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 6px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(40px);
} */

.backgroundNeon {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  //height: 400px;
  background: #131313;
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -3px;
  top: -2px;
  background: linear-gradient(45deg, #e1ff3c, black);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 6px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(100%);
}
